{% extends 'base.html' %}
{% load static from staticfiles %}

{% block js_settings %}
<script type="text/javascript">
  var userLanguage = 'en-GB';
  var initializationTimeout = 1000;
</script>
{% endblock %}

{% block js_templates %}
<script type="text/html" id="empty"></script>
{% for js_file, template_id in extra_templates %}
<script
  {% if template_id %}type="text/html" id="{{ template_id }}"{% endif %}
  src="{% static 'js_file' %}">
</script>
{% endfor %}
{% endblock %}

{% block script %}
  <script src="{% static "js/main.js" %}"></script>
  <script type="text/javascript">
  $(document).ready(function () {
    window['ariane'] = new Ariane(userLanguage);
    ariane.initialize();
    {% if debug %}
    $('#ariane-input').on('submit', function(e) {
      e.preventDefault();
      field = $(this).find('input');
      if (ariane.connected()) {
        ariane.socket.send(JSON.stringify({
          'message': field.val(),
          'lang': userLanguage
        }));
        field.val('');
      }
    });
    {% endif %}
  });
  </script>

{% endblock %}

{% block content %}
<div id="content" data-bind="css: {connected: connected, listening: listening, speaking: speaking}">
  <div class="row show-for-small-only">
    <div class="small-12 columns">
      ARIANE ON SMALL
    </div>
  </div>
  <div class="row hide-for-small-only">
    <div class="small-3 columns">
      <div data-bind="template: { name: leftTemplate, data: leftData }">
      </div>
    </div>
    <div class="small-6 columns">
      <div class="info-text-box" data-bind="lbylText: message"></div>
      <div data-bind="template: { name: centerTemplate, data: centerData }"></div>
    </div>
    <div class="small-3 columns">
      <div id="ariane">
        <div class="arc first_arc invis_arc">
          <div class="arc second_arc invis_arc">
            <div class="arc third_arc invis_arc">
              <div class="arc fourth_arc invis_arc">
                <div class="core"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% if debug %}
      <div>
        <form id="ariane-input"><input></form>
      </div>
      {% endif %}
      <div data-bind="template: { name: rightTemplate, data: rightData }"></div>
    </div>
  </div>
</div>
{% endblock %}
