include *.rst
include LICENSE
include Makefile
include manage.py
include tox.ini

exclude .bumpversion.cfg
exclude .editorconfig
exclude pep257.sh
exclude codecov.yml

recursive-include docs *.rst .gitkeep conf.py Makefile make.bat
recursive-include requirements *.pip

recursive-exclude * __pycache__
recursive-exclude * *.py[co]

graft ariane
graft tests

prune envs
prune ariane/.cache
prune ariane/media
prune ariane/static_root
